body,
html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}
.main {
  width: calc(100vw);
  height: calc(100vh - 71.6px);
}
/* .main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
} */
.container-btn {
  display: flex;
  margin-top: 4.5rem;
  justify-content: center;
  align-items: center;
}
.button-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-btn {
  background-color: #258b29;
  border: none;
  color: white;
  /* width: 300px; */
  width: calc(100vw - 300px);
  min-width: 270px;
  height: 100px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 2rem;
}
.stop-btn {
  background-color: #d32f2f;
  min-width: 150px;
  min-height: 10px;
  padding: 3px;
  cursor: pointer;
}
.red-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  text-align: center;
  bottom: 0;
  right: 0;
  margin: 10px;
  width: 200px;
  height: 50px;
  padding: 10px 30px;
  font-size: 1.4rem;
  text-align: center;
}

.main-btn:hover {
  background-color: #45a049;
}

/* FORMULARIO */

html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  color: white;
}

p {
  font-size: 1.4rem;
}

.topnav {
  overflow: hidden;
  text-align: center;
  background-color: #023047;
}

body {
  margin: 0;
}

.card-grid {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
}

input[type="submit"] {
  border: none;
  color: #fefcfb;
  background-color: #034078;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  margin-right: 10px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

input[type="submit"]:hover {
  background-color: #1282a2;
}

input[type="text"],
input[type="number"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 18px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-size: 1.2rem;
}
.value {
  font-size: 1.2rem;
  color: #1282a2;
}
.state {
  font-size: 1.2rem;
  color: #1282a2;
}
button {
  border: none;
  color: #fefcfb;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  width: 100px;
  border-radius: 4px;
  transition-duration: 0.4s;
}
.button-on {
  background-color: rgb(120, 3, 3);
}
.button-on:hover {
  background-color: #1282a2;
}
.button-off {
  background-color: #858585;
}
.button-off:hover {
  background-color: #252524;
}

/* Time */
.container-time {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100vw;
  min-width: 400px;
  margin-top: 20px;
}
.card-grid {
  width: calc(100vw - 300px);
  min-width: 400px;
}
.card-time {
  width: 100%;
}

.card-title {
  font-size: 5.2rem;
  font-weight: bold;
  color: #034078;
  margin: 30px 0;
}

.time {
  font-size: 5.2rem;
  font-weight: bold;
  margin: 30px 0;
}
/* UTILITY */

.hidden {
  display: none;
}

/* Tables */

.container-table {
  width: 100vw;
  height: auto;
  min-height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.table {
  border-collapse: collapse;
  width: 90%;
  max-width: 1000px;
}

.table th {
  background-color: #333;
  color: white;
}

.table th,
td {
  padding: 0.8rem;
  font-size: 1.4rem;
}

.table-body {
  background-color: #eee;
  color: #444;
}

/* table media queries */
@media screen and (max-width: 600px) {
  .table {
    width: 90%;
  }
  .table-head {
    display: none;
  }

  .table td {
    display: block;
    text-align: right;
  }
  .table th,
  td {
    padding: 1rem;
    font-size: 0.95rem;
  }
  .table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    margin-right: 2rem;
  }
  .table-body tr {
    display: block;
    border-bottom: 1rem solid white;
  }
}

/* Table debtor */
#table tr td:nth-child(2) {
  text-align: center;
}
